        section {
          width: 100%;
          height: 500px;
          margin: 50px auto;
          div {
            max-width: 255px;
            word-wrap: break-word;
            margin-bottom: 20px;
            line-height: 24px;
          }
        }

        .clear {
          clear: both
        }

        .from-me {
          position: relative;
          padding: 10px 20px;
          color: white;
          background: #0B93F6;
          border-radius: 25px;
          float: right;
          &:before {
            content: "";
            position: absolute;
            z-index: -1;
            bottom: -2px;from-me loud
            right: -7px;
            height: 20px;
            border-right: 20px solid #0B93F6;
            border-bottom-left-radius: 16px 14px;
            -webkit-transform: translate(0, -2px);
          }
          &:after {
            content: "";
            position: absolute;
            z-index: 1;
            bottom: -2px;
            right: -56px;
            width: 26px;
            height: 20px;
            background: white;
            border-bottom-left-radius: 10px;
            -webkit-transform: translate(-30px, -2px);
          }
        }

        .from-them {
          position: relative;
          padding: 10px 20px;
          background: #E5E5EA;
          border-radius: 25px;
          color: black;
          float: left;
          &:before {
            content: "";
            position: absolute;
            z-index: 2;
            bottom: -2px;
            left: -7px;
            height: 20px;
            border-left: 20px solid #E5E5EA;
            border-bottom-right-radius: 16px 14px;
            -webkit-transform: translate(0, -2px);
          }
          &:after {
            content: "";
            position: absolute;
            z-index: 3;
            bottom: -2px;
            left: 4px;
            width: 26px;
            height: 20px;
            background: white;
            border-bottom-right-radius: 10px;
            -webkit-transform: translate(-30px, -2px);
          }
        }

        .sending-mail {
          position: absolute;
          bottom: 0px;
          direction: ltr;
          height: 44px;
          font-size: 16px;
          width: 100%;
          display: block;
          margin-bottom: 10px;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
        }

        @keyframes loud {
          20% {
            transform: rotate3d(0, 0, 1, 5deg) scale3d(1.5, 1.5, 1.5);
          }
          25% {
            transform: rotate3d(0, 0, 1, -5deg) scale3d(1.5, 1.5, 1.5);
          }
          30% {
            transform: rotate3d(0, 0, 1, 5deg) scale3d(1.5, 1.5, 1.5);
          }
          35% {
            transform: rotate3d(0, 0, 1, -5deg) scale3d(1.5, 1.5, 1.5);
          }
          40% {
            transform: rotate3d(0, 0, 1, 5deg) scale3d(1.5, 1.5, 1.5);
          }
          45% {
            transform: rotate3d(0, 0, 1, -5deg) scale3d(1.5, 1.5, 1.5);
          }
          50% {
            transform: rotate3d(0, 0, 1, 5deg) scale3d(1.5, 1.5, 1.5);
          }
          60% {
            transform: rotate3d(0, 0, 1, 5deg) scale3d(1.5, 1.5, 1.5);
          }
          to {
            transform: rotate3d(0, 0, 1, 0deg);
          }
        }

        .loud {
          animation-duration: 1.5s;
          animation-fill-mode: both;
          animation-timing-function: ease-in-out;
          transform-origin: center center;
          animation-name: loud;
        }

        @keyframes slam {
          0% {
            transform: rotate3d(0, 0, 1, 5deg) scale3d(3, 3, 3) translate3d(-50px, -10px, 0);
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
          }
          18% {
            transform: rotate3d(0, 0, 1, 0deg) scale3d(1, 1, 1) translate3d(0, 0, 0);
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.45);
          }
          40% {
            transform: rotate3d(0, 0, 1, 1deg) scale3d(1.1, 1.1, 1.1) translate3d(-1px, -1px, 0);
            box-shadow: 0px 0px 100px 2px rgba(0, 0, 0, 0.25);
          }
          55% {
            transform: rotate3d(0, 0, 1, 0deg) scale3d(1.0, 1.0, 1.0) translate3d(0px, 0px, 0);
          }
          to {
            transform: rotate3d(0, 0, 1, 0deg);
            box-shadow: 0px 0px 125px 5px rgba(0, 0, 0, 0);
          }
        }

        .slam {
          animation-duration: 1.5s;
          animation-fill-mode: both;
          animation-timing-function: cubic-bezier(.87, .58, .25, 1.29);
          transform-origin: center center;
          animation-name: slam;
        }

        @keyframes gentle {
          0%,
          50% {
            transform: scale3d(1.5, 1.5, 1.5);
          }
          to {
            transform: rotate3d(0, 0, 1, 0deg);
          }
        }

        @keyframes gentle-text {
          0%,
          50% {
            transform: scale3d(0.5, 0.5, 0.5);
          }
          to {
            transform: rotate3d(0, 0, 1, 0deg);
          }
        }

        .gentle {
          animation-duration: 4s;
          animation-fill-mode: both;
          animation-timing-function: ease-out;
          transform-origin: bottom right;
          animation-name: gentle;
          p {
            animation-duration: 4s;
            animation-fill-mode: both;
            animation-timing-function: ease-out;
            transform-origin: center center;
            animation-name: gentle-text;
          }
        }